@page
@model IndexModel
@{
    ViewData["Title"] = "MD Nahid Uddin";
}

<body class="theme-red">

    <!-- Back to top button -->
    <div class="btn-back_to_top">
        <span class="ti-arrow-up"></span>
    </div>

    <!-- Setting button -->
    <div class="config">
        <div class="template-config">
            <!-- Facebook -->
            <div class="d-block">
                <a href="https://www.facebook.com/nafis.nahid.9/" class="btn btn-fab btn-sm" title="Facebook" data-toggle="tooltip" data-placement="left"><span class="ti-facebook"></span></a>
            </div>
            <!-- Instagram -->
            <div class="d-block">
                <a href="https://www.instagram.com/_nafis_nahid_/" class="btn btn-fab btn-sm" title="Instagram" data-toggle="tooltip" data-placement="left"><span class="ti-instagram"></span></a>
            </div>
            <!-- Linkedin -->
            <div class="d-block">
                <button href="https://www.linkedin.com/in/md-nahid-uddin-nafis-254944228/" class="btn btn-fab btn-sm" id="sideel" title="Linkedin"><span class="ti-linkedin"></span></button>
            </div>
            <!-- Skype -->
            <div class="d-block">
                <a href="https://join.skype.com/invite/shNXDVDnw0pH" class="btn btn-fab btn-sm" title="Skype" data-toggle="tooltip" data-placement="left"><span class="ti-skype"></span></a>
            </div>
        </div>
        <div class="set-menu">
            <p>Select Color</p>
            <div class="color-bar" data-toggle="selected">
                <span class="color-item bg-theme-red selected" data-class="theme-red"></span>
                <span class="color-item bg-theme-blue" data-class="theme-blue"></span>
                <span class="color-item bg-theme-green" data-class="theme-green"></span>
                <span class="color-item bg-theme-orange" data-class="theme-orange"></span>
                <span class="color-item bg-theme-purple" data-class="theme-purple"></span>
            </div>
            <select class="custom-select d-block my-2" id="change-page">
                <option value="">Choose Page</option>
                <option value="index">Topbar</option>
                <option value="blog-topbar">Blog (Topbar)</option>
                <option value="index-2">Minibar</option>
                <option value="blog-minibar">Blog (Minibar)</option>
            </select>
        </div>
    </div>

    <div class="vg-page page-home" id="home" style="background-image: url(../img/bg_image_1.jpg)">
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg navbar-dark sticky" data-offset="500">
            <div class="container">
                <a href="" class="navbar-brand"><img src="~/img/logo/mylogo.png" style="height: 50px; opacity: 0.8" alt=""></a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar" aria-expanded="true">
                    <span class="ti-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="#home" class="nav-link" data-animate="scrolling">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link" data-animate="scrolling">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#portfolio" class="nav-link" data-animate="scrolling">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a href="#blog" class="nav-link" data-animate="scrolling">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link" data-animate="scrolling">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav ml-auto">
                        <li class="nav-item">
                            <button class="btn btn-fab btn-theme no-shadow">NF'Z</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- End Navbar -->
        <!-- Caption header -->
        <div class="caption-header text-center wow zoomInDown">
            <h5 class="fw-normal">Welcome</h5>
            <h1 class="fw-light mb-4">I'm <b class="fg-theme">MD Nahid</b> Uddin</h1>
            <div class="badge">.Net Developer & Web Designer</div>
        </div> <!-- End Caption header -->
        <div class="floating-button"><span class="ti-mouse"></span></div>
    </div>

    <div class="vg-page page-about" id="about">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4 py-3">
                    <div class="img-place wow fadeInUp">
                    <img src="~/img/Nahid Photo.jpg" style="height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 wow fadeInRight">
                    <h1 class="">MD Nahid Uddin</h1>
                    <h5 class="fg-theme mb-3">.Net Developer & Web Designer</h5>
                    <p class="text-muted">Welcome to my portfolio! I'm MD Nahid Uddin Nafis, a web developer driven by an insatiable hunger for excellence. With unwavering commitment and resourcefulness, I embody the qualities of a diligent, driven, and innovative professional. From architecting robust microservices to deploying seamlessly with CI/CD pipelines, I excel in cutting-edge technologies like Docker, RabbitMQ, AWS, and Azure. Combining technical brilliance, unwavering work ethic, and a passion for software engineering, I'm here to transform your digital aspirations into reality. Let's collaborate and create something extraordinary!</p>
                    <ul class="theme-list">
                        <li><b>From:</b> Chittagong, Bangladesh</li>
                        <li><b>Lives In:</b> Dhaka, Bangladesh</li>
                        <li><b>Age:</b> 23</li>
                        <li><b>Gender:</b> Male</li>
                    </ul>
                    <form method="post" asp-page-handler="DownloadPDF">
                        <input type="hidden" name="filePath" value="~/img/work/Nahid_CV.pdf" />
                        <button type="submit" class="btn btn-theme-outline">Download CV</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <h1 class="text-center fw-normal wow fadeIn">My Skills</h1>
            <div class="row py-3">
                <div class="col-md-6">
                    <div class="px-lg-3">
                        <h4 class="wow fadeInUp">Coding skills</h4>
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">C#</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div>
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">JavaScript</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">HTML + CSS</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                        </div>
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">Language Integrated Query (LINQ)</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">88%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="px-lg-3">
                        <h4 class="wow fadeInUp">Design & Development Skills</h4>
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">ASP .Net Core</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 92%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">92%</div>
                            </div>
                        </div>
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">Web Design with SEO</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div>
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">MERN Stack</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 79%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">79%</div>
                            </div>
                        </div>
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">MS SQL Server & MongoDB</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 wow fadeInRight">
                    <h2 class="fw-normal">Education</h2>
                    <ul class="timeline mt-4 pr-md-5">
                        <li>
                            <div class="title">2023</div>
                            <div class="details">
                                <h5>Bachelor of Science (BSc) </h5>
                                <small class="fg-theme">Computer Science & Engineering </small>
                                <p>
                                    Kurukshetra University, Kurukshetra, (Haryana),India
                                    [Foreign Institute]
                                </p>
                                <small class="fg-theme">
                                    CGPA:8.26
                                    out of 10
                                </small>
                            </div>
                        </li>
                        <li>
                            <div class="title">2019</div>
                            <div class="details">
                                <h5>Higher Secondary Certificate </h5>
                                <small class="fg-theme">Science</small>
                                <p>
                                    Chittagong Model School & College
                                </p>
                                <small class="fg-theme">
                                    GPA:3.25
                                    out of 5
                                </small>
                            </div>
                        </li>
                        <li>
                            <div class="title">2017</div>
                            <div class="details">
                                <h5>Secondary School Certificate </h5>
                                <small class="fg-theme">Science</small>
                                <p>
                                    Municipal Model High School, Chittagong
                                </p>
                                <small class="fg-theme">
                                    GPA:4.73
                                    out of 5
                                </small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
                    <h2 class="fw-normal">Experience</h2>
                    <ul class="timeline mt-4 pr-md-5">
                        <li>
                            <div class="title">2022 - Current</div>
                            <div class="details">
                                <h5>Junior Software Developer</h5>
                                <small class="fg-theme">Tawoon</small>
                                <p>Technology Used: ASP.Net Core 6,JavaScript,C#,MS Sql Server,AWS</p>
                            </div>
                        </li>
                        <li>
                            <div class="title">2022</div>
                            <div class="details">
                                <h5>Tawoon</h5>
                                <small class="fg-theme">Industrial Training</small>
                                <p>
                                    Software Development,
                                    Software Testing & Resubility,
                                    Software Project Management.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">2011</div>
                            <div class="details">
                                <h5>Devtown</h5>
                                <small class="fg-theme">Intern</small>
                                <p>
                                    Web Development,
                                    SEO & Web Design, SQL Management,
                                    Client-Server Web Application.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="vg-page page-service">
        <div class="container">
            <div class="text-center wow fadeInUp">
                <div class="badge badge-subhead">Service</div>
            </div>
            <h1 class="fw-normal text-center wow fadeInUp">What can i do?</h1>
            <div class="row mt-5">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card card-service wow fadeInUp">
                        <div class="icon">
                            <span class="ti-desktop" style="color:#302a2ac2"></span>
                        </div>
                        <div class="caption">
                            <h4 class="fg-theme">Web Development</h4>
                            <p>I forge immersive web experiences with precision, innovation, and the power to captivate.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card card-service wow fadeInUp">
                        <div class="icon">
                            <span class="ti-paint-bucket" style="color:#302a2ac2"></span>
                        </div>
                        <div class="caption">
                            <h4 class="fg-theme">Web Design</h4>
                            <p>I possess a mastery of creating captivating and user-centric web designs that leave a lasting impression.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card card-service wow fadeInUp">
                        <div class="icon">
                            <span class="ti-search" style="color:#302a2ac2"></span>
                        </div>
                        <div class="caption">
                            <h4 class="fg-theme">SEO</h4>
                            <p>SEO strategies that propelling websites to the top of search results and surpassing competitors.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card card-service wow fadeInUp">
                        <div class="icon">
                            <span class="ti-vector" style="color:#302a2ac2"></span>
                        </div>
                        <div class="caption">
                            <h4 class="fg-theme">UI/UX Design</h4>
                            <p>I design captivating UI/UX experiences, seamlessly blending aesthetics and functionality to leave audiences craving more.</p>
                        </div>
                    </div>
                </div
            </div>
        </div>
    </div>

    <div class="vg-page page-funfact" style="background-image: url(../img/bg_banner.jpg);">
        <div class="container">
            <div class="row section-counter">
                <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
                    <h1 class="number" data-number="12">12</h1>
                    <span>Clients</span>
                </div>
                <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
                    <h1 class="number" data-number="23">23</h1>
                    <span>Project Compleate</span>
                </div>
                <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
                    <h1 class="number" data-number="4">4</h1>
                    <span>Project Ongoing</span>
                </div>
                <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
                    <h1 class="number" data-number="10">10</h1>
                    <span>Client Satisfaction</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio page -->
    <div class="vg-page page-portfolio" id="portfolio">
        <div class="container">
            <div class="text-center wow fadeInUp">
                <div class="badge badge-subhead">Portfolio</div>
            </div>
            <h1 class="text-center fw-normal wow fadeInUp">See my work</h1>
            <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
                <button class="btn btn-theme-outline filter-button selected" data-filter="*">All</button>
                <button class="btn btn-theme-outline filter-button" data-filter=".apps">Web Applications</button>
                <button class="btn btn-theme-outline filter-button" data-filter=".erp">ERP</button>
                <button class="btn btn-theme-outline filter-button" data-filter=".hrms">HRMS</button>
                <button class="btn btn-theme-outline filter-button" data-filter=".ui-ux">UI/UX</button>
                <button class="btn btn-theme-outline filter-button" data-filter=".graphic">Graphic</button>
                <button class="btn btn-theme-outline filter-button" data-filter=".wireframes">AID & Social</button>
            </div>

            <div class="gridder my-3">
                <div class="grid-item apps ui-ux graphic wow zoomIn">
                    <div class="img-place" data-src="../img/work/Kapita_Web.png" data-fancybox data-caption="<h5 class='fg-theme'>Kapita Auto Bricks Web</h5> <p>Web Development, Web Application</p>">
                        <img src="../img/work/Kapita_Web.png" alt="">
                        <div class="img-caption">
                            <h5 class="fg-theme">Kapita Auto Bricks Web</h5>
                            <p>Web Development, Web Application</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item erp hrms wow zoomIn">
                    <div class="img-place" data-src="../img/work/KAB_ERP.png" data-fancybox data-caption="<h5 class='fg-theme'>KAB ERP</h5> <p>Enterprise & Resource Planning</p>">
                        <img src="../img/work/KAB_ERP.png" alt="">
                        <div class="img-caption">
                            <h5 class="fg-theme">KAB ERP</h5>
                            <p>Enterprise & Resource Planning</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item erp hrms wow zoomIn">
                    <div class="img-place" data-src="../img/work/Hotel_Restaurant_Management_2.png" data-fancybox data-caption="<h5 class='fg-theme'>HRMS</h5> <p>Human Resources Management System</p>">
                        <img src="../img/work/Hotel_Restaurant_Management_2.png" alt="">
                        <div class="img-caption">
                            <h5 class="fg-theme">HRMS</h5>
                            <p>Human Resources Management System</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item apps ui-ux graphic wireframes wow zoomIn">
                    <div class="img-place" data-src="../img/work/RS_Legal_Aid.png" data-fancybox data-caption="<h5 class='fg-theme'>Legal AID</h5> <p>AID, Social</p>">
                        <img src="../img/work/RS_Legal_Aid.png" alt="">
                        <div class="img-caption">
                            <h5 class="fg-theme">Legal AID</h5>
                            <p>AID, Social</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item erp hrms wow zoomIn">
                    <div class="img-place" data-src="../img/work/YPL_ERP.png" data-fancybox data-caption="<h5 class='fg-theme'>YPL ERP</h5> <p>Enterprise & Resource Planning</p>">
                        <img src="../img/work/YPL_ERP.png" alt="">
                        <div class="img-caption">
                            <h5 class="fg-theme">YPL ERP</h5>
                            <p>Enterprise & Resource Planning</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item apps graphic ui-ux wireframes wow zoomIn">
                    <div class="img-place" data-src="../img/work/Child_Side.png" data-fancybox data-caption="<h5 class='fg-theme'>Child Side Web</h5> <p>Child AID, Social</p>">
                        <img src="../img/work/Child_Side.png" alt="">
                        <div class="img-caption">
                            <h5 class="fg-theme">Child Side Web</h5>
                            <p>Child Aid, Social</p>
                        </div>
                    </div>
                </div>
            </div> <!-- End gridder -->
            @*<div class="text-center wow fadeInUp">
                <a href="javascript:void(0)" class="btn btn-theme">Load More</a>
            </div>*@
        </div>
    </div> <!-- End Portfolio page -->

    @*<!-- Testimonial -->
    <div class="vg-page page-testimonial">
        <div class="container">
            <h1 class="text-center fw-normal wow fadeInUp">What Clients are Saying</h1>
            <div class="row justify-content-center mt-5 wow fadeInUp">
                <div class="col-md-9">
                    <div class="owl-carousel testi-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="img-place">
                                        <img src="~/img/testimonials/testimonials_1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="caption">
                                        <div class="testi-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</div>
                                        <div class="testi-info">
                                            <div class="thumb-profile">
                                                <img src="~/img/testimonials/testimonials_1.jpg" alt="">
                                            </div>
                                            <div class="tagline">
                                                <h5 class="mb-0">Satria Nugraha</h5>
                                                <span class="text-muted">CEO Nutshell</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="img-place">
                                        <img src="~/img/testimonials/testimonials_2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="caption">
                                        <div class="testi-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe natus expedita ab facilis ut, animi explicabo amet. Voluptatibus possimus iste enim, doloremque, fugiat accusamus nisi optio fugit ratione expedita harum?</div>
                                        <div class="testi-info">
                                            <div class="thumb-profile">
                                                <img src="~/img/testimonials/testimonials_2.jpg" alt="">
                                            </div>
                                            <div class="tagline">
                                                <h5 class="mb-0">Selena Arrini</h5>
                                                <span class="text-muted">CEO BigTree</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- End testimonial -->*@
    <!-- Client -->
    <div class="vg-page page-client">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="img-place wow fadeInUp">
                        <img src="../img/logo/company_1.svg" style="height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="img-place wow fadeInUp">
                        <img src="../img/logo/company_2.svg" style="height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="img-place wow fadeInUp">
                        <img src="../img/logo/company_3.svg" style="height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="img-place wow fadeInUp">
                        <img src="../img/logo/company_4.svg" style="height: 100%;" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="img-place wow fadeInUp">
                        <img src="../img/logo/company_5.svg" style="height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="img-place wow fadeInUp">
                        <img src="../img/logo/company_6.svg" style="height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="img-place wow fadeInUp">
                        <img src="../img/logo/company_7.svg" style="height: 100%;" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="img-place wow fadeInUp">
                        <img src="../img/logo/company_8.svg" style="height: 100%;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End client -->
    <!-- Blog -->
    <div class="vg-page page-blog" id="blog">
        <div class="container">
            <div class="text-center">
                <div class="badge badge-subhead wow fadeInUp">Blog</div>
            </div>
            <h1 class="text-center fw-normal wow fadeInUp">Latest Post</h1>
            <div class="row post-grid">
                <div class="col-md-6 col-lg-4 wow fadeInUp">
                    <div class="card">
                        <div class="img-place">
                            <img src="~/img/work/blog1.jpg" alt="">
                        </div>
                        <div class="caption">
                            <a href="javascript:void(0)" class="post-category">Web API</a>
                            <a href="#" class="post-title">Building a Restful API With ASP.NET</a>
                            <span class="post-date"><span class="sr-only">Published on</span> May 22, 2023</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp">
                    <div class="card">
                        <div class="img-place">
                            <img src="~/img/work/blog2.jpg" alt="">
                        </div>
                        <div class="caption">
                            <a href="javascript:void(0)" class="post-category">ASP.NET MVC</a>
                            <a href="#" class="post-title">Calender Integration In MVC</a>
                            <span class="post-date"><span class="sr-only">Published on</span> May 12, 2018</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp">
                    <div class="card">
                        <div class="img-place">
                            <img src="~/img/work/blog3.jpg" alt="">
                        </div>
                        <div class="caption">
                            <a href="javascript:void(0)" class="post-category">ASP.NET Core OAuth</a>
                            <a href="#" class="post-title">OAuth Token Based Authentication In ASP.Net Identity</a>
                            <span class="post-date"><span class="sr-only">Published on</span> April 18, 2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End blog -->
    <!-- Contact -->
    <div class="vg-page page-contact" id="contact">
        <div class="container-fluid">
            <div class="text-center wow fadeInUp">
                <div class="badge badge-subhead">Contact</div>
            </div>
            <h1 class="text-center fw-normal wow fadeInUp">Get in touch</h1>
            <div class="row py-5">
                @*<div class="col-lg-7 px-0 pr-lg-3 wow zoomIn">
                    <div class="vg-maps">
                        <div id="google-maps" style="width: 100%; height: 100%;"></div>
                    </div>
                </div>*@
                <div class="col-lg-12">
                    <form class="vg-contact-form" action="mailto:nahid018766@gmail.com" method="post" enctype="text/plain">
                      <div class="form-row">
                        <div class="col-12 mt-3 wow fadeInUp">
                          <input class="form-control" style="background-color: #e7edff;" type="text" name="Name" placeholder="Your Name">
                        </div>
                        <div class="col-6 mt-3 wow fadeInUp">
                          <input class="form-control" style="background-color: #e7edff;" type="text" name="Email" placeholder="Email Address">
                        </div>
                        <div class="col-6 mt-3 wow fadeInUp">
                          <input class="form-control" style="background-color: #e7edff;" type="text" name="Subject" placeholder="Subject">
                        </div>
                        <div class="col-12 mt-3 wow fadeInUp">
                          <textarea class="form-control" style="background-color: #e7edff;" name="Message" rows="6" placeholder="Enter message here.."></textarea>
                        </div>
                        <button type="submit" style="margin: 1.5rem auto !important" class="btn btn-theme mt-3 wow fadeInUp ml-1">Send Message</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- End Contact -->
    <!-- Footer -->
    <div class="vg-footer">
        <h1 class="text-center">MD Nahid Uddin</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 py-3">
                    <div class="footer-info">
                        <p>Where to find me</p>
                        <hr class="divider">
                        <p class="fs-large fg-white">M.M.Ali Road, Dampara, Chittagong, Bangladesh</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="float-lg-right">
                        <p>Follow me</p>
                        <hr class="divider">
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/nafis.nahid.9/">Facebook</a></li>
                            <li><a href="https://www.instagram.com/_nafis_nahid_/">Instagram</a></li>
                            <li><a href="https://www.linkedin.com/in/md-nahid-uddin-nafis-254944228/">Linkedin</a></li>
                            <li><a href="https://join.skype.com/invite/shNXDVDnw0pH">Skype</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="float-lg-left">
                        <p>Contact me</p>
                        <hr class="divider">
                        <ul class="list-unstyled">
                            <li>nahid.piet.cse@gmail.com.com</li>
                            <li>+91 9350465291 (India)</li>
                            <li>+88 01876694743 (Bangladesh)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                @*<div class="col-12 mb-3">
                    <h3 class="fw-normal text-center">Subscribe</h3>
                </div>
                <div class="col-lg-6">
                    <form class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email address">
                            <input type="submit" class="btn btn-theme no-shadow" value="Subscribe">
                        </div>
                    </form>
                </div>*@
                <div class="col-12">
                    <p class="text-center mb-0 mt-4">© 2023. All right reserved | Developed <span class="ti-heart fg-theme-red"></span> by <a href="https://www.macodeid.com/">MD Nahid Uddin</a></p>
                </div>
            </div>
        </div>
    </div> <!-- End footer -->
</body>

<script>
$(document).ready(function() {
    $('.filter-button').on('click', function() {
    var filter = $(this).data('filter');
    
    $('.filter-button').removeClass('selected');
    $(this).addClass('selected');
    
    if (filter === '*') {
        $('.grid-item').fadeIn();
    } else {
        $('.grid-item').fadeOut(0);
        $('.grid-item' + filter).fadeIn();
    }
    });
});

 $(document).ready(function() {
      // Start carousel
      $("#testimonialSlider").carousel();

      // Handle slide change event
      $("#testimonialSlider").on("slide.bs.carousel", function() {
        // Find the currently active slide
        var activeSlide = $(".carousel-item.active");

        // Add fade-out animation class
        activeSlide.addClass("fade-out");

        // Remove fade-out class when the animation ends
        activeSlide.on("animationend", function() {
          activeSlide.removeClass("fade-out");
        });
      });

      // Handle slide shown event
      $("#testimonialSlider").on("slid.bs.carousel", function() {
        // Find the newly shown slide
        var shownSlide = $(".carousel-item.active");

        // Add fade-in animation class
        shownSlide.addClass("fade-in");

        // Remove fade-in class when the animation ends
        shownSlide.on("animationend", function() {
          shownSlide.removeClass("fade-in");
        });
      });
    });

</script>